@model BusinessLayer.Models.ReportMissingMsg
@{
    ViewData["Title"] = "ReportMissing";
}

@using BusinessLayer.Models

<div class="container-fluid container-purple">
    <div class="row">
        <div class="col-md-12">
            <div class="color-dark-purple mx-n3 px-4 py-4 text-center">
                <h2>
                    What do you want to report?
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-purple pb-4">
    <div id="collapseParent" class="">
        <div class="row pt-4">
            <div class="col-sm-1 col-md-1 d-none d-lg-block d-md-none"></div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <button class="btn btn-lg btn-block btn-primary" type="button" data-toggle="collapse" data-target="#foundDependentReport" aria-expanded="false" aria-controls="foundDependentReport">
                    I am with a dependent that has been separated from their family
                </button>
            </div>
            <div class="col-md-7 col-lg-2 my-4">
                <h4 class="text-center">
                    Or...
                </h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <button class=" btn btn-lg btn-block btn-primary " type="button" data-toggle="collapse" data-target="#myMissingFamilyReport" aria-expanded="false" aria-controls="myMissingFamilyReport">
                    I have been separated from my child/dependent
                </button>
            </div>
            <div class="col-sm-0 col-md-1"></div>
        </div>
        <div class="collapse" id="foundDependentReport" data-parent="#collapseParent">
            <div class="card card-body text-disclaimer">
                Disclaimer: IMPORTANT - This service should not be used in place of or as a substitue for police involvement. Please use your discretion and if the separated
                individual has been missing for an extended period of time or if you believe that the child/dependent may have been involved in a kidnapping please call the police immediately.
                This service is intended to aid family's who have been separated from a dependent for a brief period of time and whom are assumed to be in relatively close proximity.
                If you are with a child/dependent that has been separated from their family at an event where there is a security detail we HIGHLY recommend that you also involve them as soon as possible.
            </div>
            @using (Html.BeginForm("NonFamilyReport", "ReportMissing", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="bg-light">
                    <div class="row bg-light">
                        <div class="col-lg-2 col-md-3">
                            <label for="image">Upload Picture</label>
                            <div class="mb-4">
                                <!--<input asp-for="DependentImage" class="uploadImg" id="imageFile" style="display: none;" type="file" name="imageFile" accept="image/*" required />-->
                                <input class="uploadImg" id="imageFile" style="display: none;" type="file" name="imageFile" accept="image/*" required />
                                <a id="image" class="fa fa-arrow-circle-up fa-8x img-thumbnail" onclick="UploadImage()"></a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label> </label>
                            <div class="imgPreview mb-4" style="display: none">
                                <img id="dependentImg" src="#" class="dependentImg" height="150" width="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row bg-light">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Reporter.PhoneNumber">Your Phone Number*</label>
                                <input asp-for="Reporter.PhoneNumber" type="tel" class="form-control" id="reporterPhone" />
                            </div>
                            <div class="form-group">
                                <label asp-for="DependentName">Child/Dependent's Name (Optional)</label>
                                <input asp-for="DependentName" type="text" class="form-control" id="dependentsName" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Reporter.Name" for="name">Your Name (Optional)</label>
                                <input asp-for="Reporter.Name" type="text" class="form-control" id="reporterName" />
                            </div>
                            <div class="form-group">
                                <label for="useMobileLocation" class="form-check-label">Do we have permission to send your location to the family member of the lost dependent?</label>
                                <input for="useMobileLocation" name="useMobileLocation" type="checkbox" class="form-check-inline" id="useMobileLocation" />
                                <input asp-for="Coordinates.Latitude" type="hidden" class="userLat" id="userLatitude1" />
                                <input asp-for="Coordinates.Longitude" type="hidden" class="userLong" id="userLongitude1" />
                            </div>
                            <div class="form-group">
                                <input asp-for="PushNotificationKey" type="hidden" class="pushKey" id="pushKey" />
                                    <input asp-for="PushNotificationEndpoint" type="hidden" class="pushEndpoint" id="pushEndpoint" />
                                    <input asp-for="PushNotificationAuthSecret" type="hidden" class="pushAuthSecret" id="pushAuthSecret" />
                            </div>
                            <button type="submit" class="btn px-5 color-dark-purple my-4">Submit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="collapse" id="myMissingFamilyReport" data-parent="#collapseParent">
            <div class="card card-body text-disclaimer">
                Disclaimer: IMPORTANT - This service should not be used in place of or as a substitue for police involvement. Please use your discretion and if the separated
                individual has been missing for an extended period of time or if you believe that the child/dependent may have been involved in a kidnapping please call the police immediately.
                This service is intended to aid family's who have been separated from a dependent for a brief period of time and whom are assumed to be in relatively close proximity.
                While The Separated App company serves to help families locate separated dependents in close proximity we cannot guarantee that the child will be found.
            </div>
            @using (Html.BeginForm("FamilyReport", "ReportMissing", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="bg-light">
                    <div class="row bg-light">
                        <div class="col-lg-2 col-md-3">
                            <label for="image">Upload Picture</label>
                            <div class="mb-4">
                                <input class="uploadImg2" id="reportUploadImg2" style="display: none;" type="file" name="imageFile2" accept="image/*" required />
                                <a id="image" class="fa fa-arrow-circle-up fa-8x img-thumbnail" onclick="UploadImage2()"></a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label> </label>
                            <div class="imgPreview2 mb-4" style="display: none">
                                <img id="dependentImg2" src="#" class="dependentImg2" height="150" width="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row bg-light">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Reporter.PhoneNumber">Your Phone Number*</label>
                                <input asp-for="Reporter.PhoneNumber" type="tel" class="form-control" id="dependentsName" />
                            </div>
                            <div class="form-group">
                                <label asp-for="DependentName">Child/Dependent's Name (Optional)</label>
                                <input asp-for="DependentName" type="text" class="form-control" id="dependentsName" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Reporter.Name">Your Name (Optional)</label>
                                <input asp-for="Reporter.Name" type="text" class="form-control" id="reporterName" />
                            </div>
                            <div class="form-group">
                                <label for="useMobileLocation" class="form-check-label">Do we have permission to send your location to the person who finds your lost dependent?</label>
                                <input for="useMobileLocation" name="useMobileLocation" type="checkbox" class="form-check-inline" id="useMobileLocation" />
                                <input asp-for="Coordinates.Latitude" type="hidden" class="userLat" id="userLatitude2" />
                                <input asp-for="Coordinates.Longitude" type="hidden" class="userLong" id="userLongitude2" />
                            </div>
                            <div class="form-group">
                                <input asp-for="PushNotificationKey" type="hidden" class="pushKey" id="pushKey2" />
                                <input asp-for="PushNotificationEndpoint" type="hidden" class="pushEndpoint" id="pushEndpoint2" />
                                <input asp-for="PushNotificationAuthSecret" type="hidden" class="pushAuthSecret" id="pushAuthSecret2" />
                            </div>
                            <button id="test" type="submit" class="btn px-5 color-dark-purple my-4">Submit</button>
                            @*//TODO: Add server side validation including a check to make sure location permission is given.*@

                            <p id="demo"></p>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            navigator.geolocation.getCurrentPosition(saveCoordinatesToModel, positionError);

            function positionError(position) {
                //TODO: If there is an error in collecting the user's coordinates notify the user that their location is required to use the app
                alert("Oops! Error: " + position.code);
            }

            function saveCoordinatesToModel(position) {
                var coordinates = position.coords;

                $('#userLatitude2')[0].value = coordinates.latitude;
                $('#userLatitude1')[0].value = coordinates.latitude;
                $('#userLongitude2')[0].value = coordinates.longitude;
                $('#userLongitude1')[0].value = coordinates.longitude;
                subscribeToPushNotifications();
            }

            function urlBase64ToUint8Array(base64String) {

                const padding = '='.repeat((4 - base64String.length % 4) % 4);
                const base64 = (base64String + padding)
                    .replace(/\-/g, '+')
                    .replace(/_/g, '/');
                const rawData = window.atob(base64);
                const outputArray = new Uint8Array(rawData.length);
                for (let i = 0; i < rawData.length; ++i) {
                    outputArray[i] = rawData.charCodeAt(i);
                }
                return outputArray;
            }

            function subscribeToPushNotifications() {

                var vapidPublicKey = '@(ViewBag.VapidPublicKey)';

                if (pushIsSupported) {
                    //TODO: rather than use alerts come up with another process
                    alert("push is supported");
                }
                else {
                    alert("push is NOT supported");
                }

                alert(navigator.serviceWorker.ready);

                navigator.serviceWorker.ready.then(ServiceWorkerRegistration => {
                    ServiceWorkerRegistration.pushManager.getSubscription()
                        .then(PushSubscription => {

                            //DELETE THIS LINE BELOW. USED TEMPORARILY TO TEST REGISTERING OF PUSH NOTIFICATIONS
                            //PushSubscription.unsubscribe().then(function () {
                            //    alert("unsubscribed");
                            //    return;
                            //});

                            if (PushSubscription) {
                                const rawKey = PushSubscription.getKey ? PushSubscription.getKey('p256dh') : '';
                                const key = rawKey ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawKey))) : '';
                                const rawAuthSecret = PushSubscription.getKey ? PushSubscription.getKey('auth') : '';
                                const authSecret = rawAuthSecret ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawAuthSecret))) : '';
                                const endpoint = PushSubscription.endpoint;

                                alert('already subscribed: ' + key + ', authSecret=' + authSecret + ', endpoint=' + endpoint);

                                $('#pushKey')[0].value = key;
                                $('#pushKey2')[0].value = key;
                                $('#pushEndpoint')[0].value = endpoint;
                                $('#pushEndpoint2')[0].value = endpoint;
                                $('#pushAuthSecret')[0].value = authSecret;
                                $('#pushAuthSecret2')[0].value = authSecret;
                                return;
                            }

                            return ServiceWorkerRegistration.pushManager.subscribe({
                                userVisibleOnly: true,
                                applicationServerKey: urlBase64ToUint8Array(vapidPublicKey)
                            }).then(PushSubscription => {
                                const rawKey = PushSubscription.getKey ? PushSubscription.getKey('p256dh') : '';
                                const key = rawKey ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawKey))) : '';
                                const rawAuthSecret = PushSubscription.getKey ? PushSubscription.getKey('auth') : '';
                                const authSecret = rawAuthSecret ? btoa(String.fromCharCode.apply(null, new Uint8Array(rawAuthSecret))) : '';
                                const endpoint = PushSubscription.endpoint;

                                alert('new subscription: key=' + key + ', authSecret=' + authSecret + ', endpoint=' + endpoint);

                                $('#pushKey')[0].value = key;
                                $('#pushKey2')[0].value = key;
                                $('#pushEndpoint')[0].value = endpoint;
                                $('#pushEndpoint2')[0].value = endpoint;
                                $('#pushAuthSecret')[0].value = authSecret;
                                $('#pushAuthSecret2')[0].value = authSecret;

                            });
                        });
                })
            }

            function pushIsSupported() {
                if (('serviceWorker' in navigator) && ('PushManager' in window)) {
                    return true;
                }
                else {
                    return false;
                }
            }
        })

    </script>

    <script>
        $(document).ready(function () {

            $('.uploadImg').on('change', function (evt) {

                var fileUpload = $('.uploadImg').get(0);
                var files = fileUpload.files;
                var file = files[0];

                var reader = new FileReader();

                $('.imgPreview').show();

                reader.onload = function (e) {
                    $('.dependentImg').attr('src', e.target.result);
                }

                reader.readAsDataURL(file);
            })

            $('.uploadImg2').on('change', function (evt) {

                var fileUpload = $('.uploadImg2').get(0);
                var files = fileUpload.files;
                var file = files[0];

                var reader = new FileReader();

                $('.imgPreview2').show();

                reader.onload = function (e) {
                    $('.dependentImg2').attr('src', e.target.result);
                }

                reader.readAsDataURL(file);
            })
        })
    </script>
}

