@{
    ViewData["Title"] = "ReportAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid container-purple">
    <div class="row color-dark-purple">
        <div class="col-md-12 color-dark-purple px-5 py-4 text-center">
            <h2>
                Thank you for submitting a missing report.
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-4 my-4">
            <strong>You will be notified immediately when a match is found but if you do not receive notification soon please involve the authorities.</strong>
        </div>
    </div>
</div>

