@model LostChildApp.Models.Image

@{
    ViewData["Title"] = "UploadPicture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadPicture</h2>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadPicture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImgID" class="control-label"></label>
                <input asp-for="ImgID" class="form-control" />
                <span asp-validation-for="ImgID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgURL" class="control-label"></label>
                <input asp-for="ImgURL" class="form-control" />
                <span asp-validation-for="ImgURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

